@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/inter-v12-latin-regular.woff2") format("woff2"), 
         url("./fonts/inter-v12-latin-regular.woff") format("woff");
  }
  @font-face {
    font-display: swap; 
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/inter-v12-latin-500.woff2") format("woff2"),
         url("./fonts/inter-v12-latin-500.woff") format("woff");
  }
  @font-face {
    font-display: swap; 
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/inter-v12-latin-600.woff2") format("woff2"),
         url("./fonts/inter-v12-latin-600.woff") format("woff"); 
 }

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/open-sans-v34-latin-regular.woff2") format("woff2"), 
         url("./fonts/open-sans-v34-latin-regular.woff") format("woff");
  }
  @font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/open-sans-v34-latin-700.woff2") format("woff2"), 
         url("./fonts/open-sans-v34-latin-700.woff") format("woff");
  }
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Inter","Arial",sans-serif;


    font-style: normal;

}
header {
    background-color:#282829;
}
.container {
    width: 1279px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-navbar {
    display: flex;
    justify-content: space-between;
}
.site-navigation {
    display: inline-block;
    color: #fff;

}
.nav-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    
} .nav-list-item  {
    margin-right: 30px;
}
.nav-list-link {
    text-decoration: none;
    color: #fff;
}
.nav-list-link:hover {
        color:#F78B3B;
}
.nav-list-link:active {
    color: #f78b3bcc;
}
.site-title {
    width: 734px;
    text-align: center;
    margin:0 auto;
    padding-top: 114px;
    margin-bottom: 114px;
    
}
.site-theme {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 88px;
    font-weight: 500;
    font-size:88px;
    line-height:93px;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }  
.cards {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.card {
    width: 393px;
    margin-bottom: 60px;
    text-align: center;
    border-radius: 20px;
}
.card-img {
    margin-bottom: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.card-title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}
.desc {
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    opacity: 0.6; 
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
}
.section-second {
    padding-top: 15px;
    padding-bottom: 69px;
}
.second-section-img {
    margin-bottom: 43px;
    border-radius: 30px;
}
.site-time {
    display: block;
    text-align: center;
    margin-bottom: 4px;
    font-family: "Open Sans","Arial",sans-serif;
    font-style: normal;
    font-weight: 400;
}
.title {
    text-align: center;
    margin-top: 0;
    margin-bottom:4px;
    font-family: "Open Sans","Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}
.second-section-desc {
    width: 1098px;
    margin: auto;
    margin-bottom: 4px;
    text-align: center;
    font-family: "Open Sans","Arial",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
.site-bottom {
    background-color: #000;
    padding-top: 81px;
    padding-bottom: 64px;
}
.footer-list {
   display: flex;
   justify-content: center;
   margin-bottom: 11px;
}
.fotter-link {
    margin-bottom: 0;
    margin-top: 0;
}
.fotter-link_item {
    font-size: 16px;
}
.fotter-link_item:not(:last-child) {
    margin-right: 56px;
}
.footer-list-item {
   color: #fff; 
}
.footer-list-item:hover {
    color: #f00;
}
.footer-list-item:active {
    color: #ff0000cc;
}
.icon-img {
    padding-left: 0;
}
.end {
    margin-right: 0;
}
.site-about {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    opacity: 0.65;
}





